# Core dependencies
fastapi
uvicorn[standard]
gunicorn
python-dotenv
python-multipart

# LangChain
langchain
langchain-community
langchain-qdrant
langchain-groq
langchain-google-genai
langchain-openai
langserve
langchain_cohere

# Vector Store
qdrant-client

# Document Processing
unstructured
pdfminer.six

# LLM Providers
cohere

# Utilities
httptools
watchfiles
websockets

fastembed-gpu
