langchain
langchain-community
qdrant-client
langchain-qdrant
langchain-groq
langchain-google-genai
langchain-openai
fastapi
uvicorn[standard]
gunicorn
httptools
watchfiles
websockets
unstructured
pdfminer.six
langserve
langchain_cohere
cohere
python-dotenv
python-multipart